*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    font-size: 4vmin;
    --color1: #772432;
    --color2: #004165;
    --color3: #A9B2B1;
    --color4: #F2DF74;
    --color5: #070523;
    --color6: #FFFFFF;
}
.container{
    overflow: hidden;
}
/**********************************/
html{
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
body::before {
    content: "";
    background-image: url("./images/fondo.png");
    background-size: contain;
    background-attachment: fixed;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;
}
body{
    background-color: rgba(255,0,255, .05);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
header{
    background-color: var(--color2);
    border-bottom: 2px solid var(--color4);
    outline: 2px solid var(--color1);
}
main{
    color: var(--color5);
    height: 100%;
    margin: 2px auto;
    width: 100%;
    max-width: 1200px;
}
section{
    overflow: hidden;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--color6);
    border: 1px solid var(--color3);
    margin: 1rem 0;
}
footer{
    background-color: var(--color2);
    color: var(--color6);
    font-size: 1rem;

}
#logo{
    padding: 1rem;
    width: 100%;
}
#logo img{
    width: 7rem;
}
#titulo{
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    background-color: var(--color6);
    width: 100%;
}
#titulo h1{
    font-size: 2.4rem;
    font-weight: 900;
    color: var(--color1);
    text-shadow: 0 0 .3rem var(--color4);
    text-align: center;
    line-height: 90%;
}
#titulo h2{
    font-size: 1.45rem;
    font-weight: 800;
    color: var(--color2);
    text-align: center;
}
#titulo h5{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color1);
    text-align: center;
}
#menu-button{
    font-size: .9rem;
    background-color: var(--color3);
    width: 100%;
    text-align: left;
    overflow: hidden;
}
#menu-button span{
    font-size: 1.2rem;
    padding: .3rem 1rem;
    margin-right: .5rem;
    background-color: var(--color4);
    border-radius: .3rem;
    border-bottom: 2px solid var(--color2);
    border-right: 1px solid var(--color2);
}
/******************************/
#contacto, #politicas{
    margin: .5rem;
    width: 100%;
}
#whatsapp, #email, #politicas>div{
    margin: .1rem;
    padding: .1rem;
}
#whatsapp a, #email a{
    text-decoration: none;
    color: var(--color6);
}
#whatsapp a::before{
    content: "";
    background-image:url("./images/whatsapp.png");
    background-size: 100% 100%;
    display: inline-block;
    height: .9rem;
    width:.9rem;
    margin-right: .3rem;
    vertical-align: middle;
}
#direccion>p:first-child, #politicas p:first-child{
    margin-right: .2rem;
}
#wiserclick {
    font-size: 0.9rem;
}
#wiserclick a{
    text-decoration: none;
    color: var(--color4);
}
/******************************/
nav{
    font-size: 1rem;
    background-color: var(--color3);
    min-width: 12rem;
    min-height: 100%;
    margin: 1rem 1rem 1rem 0;
    margin-top: 0;
    position: fixed;
    top: 0px;
    left: -12.5rem;
    z-index: 2;
    transition: all 700ms ease;
}
#menu-close{
    text-align: right;
    padding: .2rem .5rem;
    font-size: 1.5rem;
}
nav ul{
    list-style: none;
}
nav ul li{
    padding: .5rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--color5);
    background-color: var(--color2);
    color: var(--color6);
    margin: .2rem;
}
nav ul li:hover{
    color: var(--color4);
    margin: .2rem 0;
}
.selected{
    background-color: var(--color1);
    color: var(--color4);
}
/*******************************/
#cuenta_regresiva{
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 1rem  0 1rem;
    width: 100%;
}
#cuenta_regresiva h2{
    font-size: 1.5rem;
}
#cuenta{
    margin: 1rem 0;
}
#zoom, #recordatorio{
    font-size: 1rem;
    text-decoration: none;
    padding: .5rem;
    color: var(--color6);
    background-color: var(--color2);
    cursor: pointer;
    min-width: 49% ;
    margin-bottom: 1rem;
    border-radius: .2rem;
    border-bottom: 2px solid var(--color1);
    border-right: 1px solid var(--color1);
}
#inicio{
    height: 100%;
    width: 100%;
}
#inicio img{
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
}
/*******************************/
section h2{
    font-size: 1.2rem;
    margin: 1rem;
}
.container_pregunta{
    margin: 0rem .5rem .5rem .5rem;
    border: 1px solid var(--color3);
}
.pregunta{
    font-weight: bolder;
    padding: .5rem 1rem;
    background-color: var(--color4);
}
.pregunta a{
    text-decoration: none;
    color: #000;
}
.respuesta{
    background-color: var(--color6);
    max-height: 0px;
    transition: max-height 700ms ease 0s;
    overflow: hidden;
}
.respuesta>p{
    text-align: justify;
    margin: 1rem;
}
.card_camino{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color6);
    margin: .5rem;
    padding: .5rem;
    border: 1px solid var(--color3);
}
.card_camino img{
    display: inline;
    height: 5rem;
    width: auto;
    margin-right: 1rem;
}
.card_camino p{
    text-align: justify;
}
.card_camino span{
    font-weight: 800;
}
/********************************/
@media only screen and (min-width: 577px) and (max-width: 768px) {
    :root {
        font-size: 3.8vmin;
    }
    #titulo, #logo{
        width: 50%;
    }
    #titulo h1, #titulo h2, #titulo h5{
        align-self: flex-start;
    }
    #logo {
        justify-content: flex-end;
    }
    #productos-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contacto{
        order: 3;
        width: unset;
    }
    #politicas{
        width: unset;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    :root {
        font-size: 3.6vmin;
    }
    #titulo, #logo{
        width: 50%;
    }
    #titulo h1, #titulo h2, #titulo h5{
        align-self: flex-start;
    }
    #logo {
        justify-content: flex-end;
    }
    #contacto{
        order: 3;
        width: unset;
    }
    #politicas{
        width: unset;
    }
    nav{
        display: inline !important;
        position: static;
        margin-top: 1rem;
    }
    #menu-button, #menu-close{
        display: none;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    :root {
        font-size: 3.4vmin;
    }
    #titulo, #logo{
        width: 50%;
    }
    #titulo h1, #titulo h2, #titulo h5{
        align-self: flex-start;
    }
    #logo {
        justify-content: flex-end;
    }
    .card_camino{
        flex-wrap: nowrap;
    }
    #contacto{
        order: 3;
        width: unset;
    }
    #politicas{
        width: unset;
    }
    nav{
        display: inline !important;
        position: static;
        margin-top: 1rem;
    }
    #menu-button, #menu-close{
        display: none;
    }
}
@media only screen and (min-width: 1201px){
    :root {
        font-size: 3.2vmin;
    }
    #titulo, #logo{
        width: 50%;
    }
    #titulo h1, #titulo h2, #titulo h5{
        align-self: flex-start;
    }
    #logo {
        justify-content: flex-end;
    }
    .card_camino{
        flex-wrap: nowrap;
    }
    #contacto{
        order: 3;
        width: unset;
    }
    #politicas{
        width: unset;
    }
    nav{
        display: inline !important;
        position: static;
        margin-top: 1rem;
    }
    #menu-button, #menu-close{
        display: none;
    }
}
